body{
background-color: grey;

}

table{
background-color: white;
}

.logo{
width: 10%;;
}

.actu{
width: 10%;
font-size:150%;
}


.schema{
width:15%;
font-size:150%;
}

.titrep{
font-weight: bold;
font-size:135%;
}


.scenario{
width: 20%;
font-size:150%;
}


.lore{
width:30%;
font-size:150%;
}

.deco{
text-align: right;
width:10%;
}

.espdeuxc{
height:200px;
}

.espquatrecinq{
height:45px;
}