<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- probleme de chemin-->
    <link type="text/css" rel="stylesheet" href="/design.css">
    <title>Accueil</title>
    <meta charset="utf-8">
</head>


<body>
<table border="1">

    <tr>
        <td>Logo</td>
        <td>Bienvenue</td>
        <td>inscription</td>
        <td>connexion</td>

</tr>
    <tr>
        <td></td>
        <td colspan="2">bla bla pour introduire</td>
        <td></td>
    </tr>


</table>
</body>
</html>