<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- probleme de chemin-->
    <link type="text/css" rel="stylesheet" href="/design.css">
    <title>Accueil</title>
    <meta charset="utf-8">
</head>


<body>

<table border="1" width="100%">
    <tr>
        <td class="logo">Logo</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="deco"><a href="inscription">Inscritpion/Connexion</a></td>
    </tr>
    <tr>
    <td class="espdeuxc"></td>
</tr>

</table>
</body>
</html>
