<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- probleme de chemin-->
    <link type="text/css" rel="stylesheet" href="/design.css">
    <title>L'histoire</title>
    <meta charset="utf-8">
</head>

<body>
<table border="1" >
<tr>
    <td>Logo</td>
    <td></td>
    <td></td>
    <td>Deconnexion</td>
</tr>
    <tr>
        <td></td>
        <td colspan="2">L'histoire</td>
        <td></td>
    </tr>
</tr>
    <tr>
        <td></td>
        <td colspan="2">bla bla sur l'histoire, un peu plus detaille que dans l'index</td>
        <td></td>
    </tr>
</table>

</body>
</html>