<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- probleme de chemin-->
    <link type="text/css" rel="stylesheet" href="design.css">
    <title>Le lore</title>
    <meta charset="utf-8">
</head>

<body>


<table border="1" width="100%">
    <tr>
        <td class="logo">Logo</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="deco">Deconnexion</td>
    </tr><tr>
    <td class="espdeuxc"></td>
</tr>
    <tr>
        <td></td>
        <td class="scenario">Scénario</td>
        <td class="lore">Lore</td>
        <td class="schema">Schéma</td>
        <td class="actu">Fil d'actualité</td>
        <td></td>
    </tr>
    </tr><tr>
    <td class="espquatrecinq"></td>
</tr>
    <tr><td></td>
        <td colspan="4" class="titrep">Le lore</td>
    </tr>
    </tr>

</table>

</body>
</html>