<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- probleme de chemin-->
    <link type="text/css" rel="stylesheet" href="design.css">
    <title>Les actualités</title>
    <meta charset="utf-8">
</head>

<body>


<table border="1" width="100%">
    <tr>
        <td class="logo">Logo</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="deco">Deconnexion</td>
    </tr><tr>
<td class="espdeuxc"></td>
</tr>
    <tr>
        <td></td>
        <td class="scenario"><a href="scenario">Scénario</a></td>
        <td class="lore"><a href="lore">lore</a></td>
        <td class="schema"><a href="schema">schema</a></td>
        <td class="actu"><a href="news">Fil d'actualité</a></td>
        <td></td>
    </tr>
    </tr><tr>
    <td class="espquatrecinq"></td>
</tr>
    <tr><td></td>
        <td colspan="4" class="titrep">Les actualitées</td>
    </tr>
    </tr>
    <tr>
    <td height="25px"></td>
</tr>





    <tr>
<td></td>
        <td>titre</td>
        <td th:each="item : ${message}" th:text="${item}"></td>
        <td ></td>

    </tr>

<tr>
    <td></td>
    <td>contenu</td>
    <td th:each="item2 : ${message2}" th:text="${item2}"></td>
        <td ></td>

</tr>

    <tr>
<td></td>
        <td>date de parution</td>
    <td th:each="item3 : ${message3}" th:text="${item3}"></td>
        <td ></td>

    </tr>



</table>

</body>
</html>