<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- probleme de chemin-->
    <link type="text/css" rel="stylesheet" href="design.css">
    <title>Le scénario</title>
    <meta charset="utf-8">
</head>

<body>


<table border="1" width="100%">
    <tr>
        <td class="logo">Logo</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="deco">Deconnexion</td>
    </tr><tr>
    <td class="espdeuxc"></td>
</tr>
    <tr>
        <td></td>
        <td class="scenario"><a href="scenario">Scénario</a></td>
        <td class="lore"><a href="lore">lore</a></td>
        <td class="schema"><a href="schema">Schema</a></td>
        <td class="actu"><a href="news">Fil d'actualité</a></td>
        <td></td>
    </tr>
    </tr><tr>
    <td class="espquatrecinq"></td>
</tr>
    <tr><td></td>
        <td colspan="4" class="titrep">Le scénario</td>
    </tr>
    </tr>

</table>

</body>
</html>